@font-face {
    font-family: coolvetica;
    src: url(../fonts/Coolvetica\ Rg.otf);
}
@keyframes blink {
 0% {opacity: 0;}
 25% {opacity: 1;}
 75% {opacity: 1;}
 100% {opacity: 0;}
}
@keyframes delayed-glitch {
    0% {opacity: 0;}
    72% {opacity: 0;}
    75% {opacity: 1;}
    76% {opacity: 0;}
    83% {opacity: 0;}
    85% {opacity: 1;}
}
@keyframes glitch {
    0% {opacity: 0;}
    42% {opacity: 0;}
    45% {opacity: 1;}
    46% {opacity: 0;}
    53% {opacity: 0;}
    55% {opacity: 1;}
}
@keyframes reveal {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes blur {
    0%{filter: blur(1px);}
    100%{filter: blur(0px);}
}
@keyframes expand {
    0% {
        width: 0%;
        opacity: 10;
        background: #450000;
    }
    45%{
        background: #450000;
    }
    100% {
        width: 100%;
        background: white;
    }
}
* {
    font-family: coolvetica;
    margin: 0;
    padding: 0;
}
body {
    background: #580104;
    color: white;
    animation: blur 1s linear 1;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.block {
    width: 22.9%;
    min-height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.top,.middle,.bottom {
    width: 100%;
}
.top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    height: fit-content;
    padding-bottom: 6px;
}
.middle {
    align-self: flex-start;
    width: 100%;
    height: 2px;
    background: white;
    animation: expand 1.3s cubic-bezier(0.165, 0.84, 0.44, 1) 1;
}
.bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}
.top .logo {
    animation: glitch 1s linear 1;
}
.top .text * {
    margin-left: 7px;
    line-height: 0.9em;
    letter-spacing: 0.03em;
    animation: delayed-glitch 1s linear 1;
}
.bottom .text {
    font-weight: bold;
    font-size: 0.8em;
    letter-spacing: 0.5px;
    animation: glitch 1s linear 1;
}
.bottom .time {
    font-size: 9em;
    align-self: center;
    transform: scale(1.2,1);
    text-indent: 0.1em;
    letter-spacing: 0.1em;
    animation: reveal 1.5s linear 1;
}
.blink {
    animation: blink 1s linear infinite;
}